.card{
    position:relative;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-direction:column;
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    background-color:#fff;
    background-clip:border-box;
    border:1px solid rgba(0,0,0,.125);
    border-radius:.25rem
}
.card>hr{
    margin-right:0;
    margin-left:0
}
.card>.list-group:first-child .list-group-item:first-child{
    border-top-left-radius:.25rem;
    border-top-right-radius:.25rem
}
.card>.list-group:last-child .list-group-item:last-child{
    border-bottom-right-radius:.25rem;
    border-bottom-left-radius:.25rem
}
.card-body{
    -ms-flex:1 1 auto;
    flex:1 1 auto;
    padding:1.25rem
}
.card-title{
    margin-bottom:.75rem
}
.card-subtitle{
    margin-top:-.375rem;
    margin-bottom:0
}
.card-text:last-child{
    margin-bottom:0
}
.card-link:hover{
    text-decoration:none
}
.card-link+.card-link{
    margin-left:1.25rem
}
.card-header{
    padding:.75rem 1.25rem;
    margin-bottom:0;
    color:inherit;
    background-color:rgba(0,0,0,.03);
    border-bottom:1px solid rgba(0,0,0,.125)
}
.card-header:first-child{
    border-radius:calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}
.card-header+.list-group .list-group-item:first-child{
    border-top:0
}
.card-footer{
    padding:.75rem 1.25rem;
    background-color:rgba(0,0,0,.03);
    border-top:1px solid rgba(0,0,0,.125)
}
.card-footer:last-child{
    border-radius:0 0 calc(.25rem - 1px) calc(.25rem - 1px)
}
.card-header-tabs{
    margin-right:-.625rem;
    margin-bottom:-.75rem;
    margin-left:-.625rem;
    border-bottom:0
}
.card-header-pills{
    margin-right:-.625rem;
    margin-left:-.625rem
}
.card-img-overlay{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    padding:1.25rem
}
.card-img{
    width:100%;
    border-radius:calc(.25rem - 1px)
}
.card-img-top{
    width:100%;
    border-top-left-radius:calc(.25rem - 1px);
    border-top-right-radius:calc(.25rem - 1px)
}
.card-img-bottom{
    width:100%;
    border-bottom-right-radius:calc(.25rem - 1px);
    border-bottom-left-radius:calc(.25rem - 1px)
}
.card-deck{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-direction:column;
    flex-direction:column
}
.card-deck .card{
    margin-bottom:15px
}
@media (min-width:576px){
    .card-deck{
        -ms-flex-flow:row wrap;
        flex-flow:row wrap;
        margin-right:-15px;
        margin-left:-15px
    }
    .card-deck .card{
        display:-ms-flexbox;
        display:flex;
        -ms-flex:1 0 0%;
        flex:1 0 0%;
        -ms-flex-direction:column;
        flex-direction:column;
        margin-right:15px;
        margin-bottom:0;
        margin-left:15px
    }
}
.card-group{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-direction:column;
    flex-direction:column
}
.card-group>.card{
    margin-bottom:15px
}
@media (min-width:576px){
    .card-group{
        -ms-flex-flow:row wrap;
        flex-flow:row wrap
    }
    .card-group>.card{
        -ms-flex:1 0 0%;
        flex:1 0 0%;
        margin-bottom:0
    }
    .card-group>.card+.card{
        margin-left:0;
        border-left:0
    }
    .card-group>.card:first-child{
        border-top-right-radius:0;
        border-bottom-right-radius:0
    }
    .card-group>.card:first-child .card-header,.card-group>.card:first-child .card-img-top{
        border-top-right-radius:0
    }
    .card-group>.card:first-child .card-footer,.card-group>.card:first-child .card-img-bottom{
        border-bottom-right-radius:0
    }
    .card-group>.card:last-child{
        border-top-left-radius:0;
        border-bottom-left-radius:0
    }
    .card-group>.card:last-child .card-header,.card-group>.card:last-child .card-img-top{
        border-top-left-radius:0
    }
    .card-group>.card:last-child .card-footer,.card-group>.card:last-child .card-img-bottom{
        border-bottom-left-radius:0
    }
    .card-group>.card:only-child{
        border-radius:.25rem
    }
    .card-group>.card:only-child .card-header,.card-group>.card:only-child .card-img-top{
        border-top-left-radius:.25rem;
        border-top-right-radius:.25rem
    }
    .card-group>.card:only-child .card-footer,.card-group>.card:only-child .card-img-bottom{
        border-bottom-right-radius:.25rem;
        border-bottom-left-radius:.25rem
    }
    .card-group>.card:not(:first-child):not(:last-child):not(:only-child){
        border-radius:0
    }
    .card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-footer,.card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-header,.card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-img-bottom,.card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-img-top{
        border-radius:0
    }
}
.card-columns .card{
    margin-bottom:.75rem
}
@media (min-width:576px){
    .card-columns{
        -webkit-column-count:3;
        -moz-column-count:3;
        column-count:3;
        -webkit-column-gap:1.25rem;
        -moz-column-gap:1.25rem;
        column-gap:1.25rem;
        orphans:1;
        widows:1
    }
    .card-columns .card{
        display:inline-block;
        width:100%
    }
}
.accordion .card{
    overflow:hidden
}
.accordion .card:not(:first-of-type) .card-header:first-child{
    border-radius:0
}
.accordion .card:not(:first-of-type):not(:last-of-type){
    border-bottom:0;
    border-radius:0
}
.accordion .card:first-of-type{
    border-bottom:0;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0
}
.accordion .card:last-of-type{
    border-top-left-radius:0;
    border-top-right-radius:0
}
.accordion .card .card-header{
    margin-bottom:-1px
}

.border-success{
    border-color:#28a745!important
}
.border-info{
    border-color:#17a2b8!important
}
.border-warning{
    border-color:#ffc107!important
}
.border-danger{
    border-color:#dc3545!important
}
.border-light{
    border-color:#f8f9fa!important
}
.border-dark{
    border-color:#343a40!important
}
.border-white{
    border-color:#fff!important
}

.bg-success{
    background-color:#28a745!important
}
a.bg-success:focus,a.bg-success:hover,button.bg-success:focus,button.bg-success:hover{
    background-color:#1e7e34!important
}
.bg-info{
    background-color:#17a2b8!important
}
a.bg-info:focus,a.bg-info:hover,button.bg-info:focus,button.bg-info:hover{
    background-color:#117a8b!important
}
.bg-warning{
    background-color:#ffc107!important
}
a.bg-warning:focus,a.bg-warning:hover,button.bg-warning:focus,button.bg-warning:hover{
    background-color:#d39e00!important
}
.bg-danger{
    background-color:#dc3545!important
}
a.bg-danger:focus,a.bg-danger:hover,button.bg-danger:focus,button.bg-danger:hover{
    background-color:#bd2130!important
}
.bg-light{
    background-color:#f8f9fa!important
}
a.bg-light:focus,a.bg-light:hover,button.bg-light:focus,button.bg-light:hover{
    background-color:#dae0e5!important
}
.bg-dark{
    background-color:#343a40!important
}
a.bg-dark:focus,a.bg-dark:hover,button.bg-dark:focus,button.bg-dark:hover{
    background-color:#1d2124!important
}
.bg-white{
    background-color:#fff!important
}
.bg-transparent{
    background-color:transparent!important
}

.card-text:last-child{
    margin-bottom:0
}

.card-body{-ms-flex:1 1 auto;flex:1 1 auto;padding:1.25rem}

.text-white{
    color:#fff!important
}
.text-primary{
    color:#007bff!important
}
a.text-primary:focus,a.text-primary:hover{
    color:#0056b3!important
}
.text-secondary{
    color:#6c757d!important
}
a.text-secondary:focus,a.text-secondary:hover{
    color:#494f54!important
}
.text-success{
    color:#28a745!important
}
a.text-success:focus,a.text-success:hover{
    color:#19692c!important
}
.text-info{
    color:#17a2b8!important
}
a.text-info:focus,a.text-info:hover{
    color:#0f6674!important
}
.text-warning{
    color:#ffc107!important
}
a.text-warning:focus,a.text-warning:hover{
    color:#ba8b00!important
}
.text-danger{
    color:#dc3545!important
}
a.text-danger:focus,a.text-danger:hover{
    color:#a71d2a!important
}
.text-light{
    color:#f8f9fa!important
}
a.text-light:focus,a.text-light:hover{
    color:#cbd3da!important
}
.text-dark{
    color:#343a40!important
}
a.text-dark:focus,a.text-dark:hover{
    color:#121416!important
}
.text-body{
    color:#212529!important
}
.text-muted{
    color:#6c757d!important
}
.text-black-50{
    color:rgba(0,0,0,.5)!important
}
.text-white-50{
    color:rgba(255,255,255,.5)!important
}

.btn-default {
    color: #333 !important;
    background-color: #fff !important;
    border-color: #ccc !important;
}