<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
    <link rel="icon" type="image/png" href="../assets/img/favicon.ico">
    
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Importador ARKO</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />

    <!--  Light Bootstrap Dashboard core CSS    -->
    <link href="../assets/css/light-bootstrap-dashboard.css?v=1.4.1" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="../assets/css/demo.css" rel="stylesheet" />

    <link rel="stylesheet" href="../css/css-newarquivo.css">
    <link rel="stylesheet" href="../css/css-novo/cards.css">
    <link rel="stylesheet" href="../css/vue-good-table.css">

    <!--     Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="../assets/css/pe-icon-7-stroke.css" rel="stylesheet" />

</head>
<body>

<div id="novoArquivo" class="wrapper">
    <div class="sidebar" data-color="orange" data-image="../assets/img/full-screen-image-3.jpg">
        <!--

            Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
            Tip 2: you can also add an image using data-image tag

        -->

        <div class="logo" style="-webkit-app-region: drag;">
            <a href="#" class="simple-text logo-mini">
                <!-- <img src="../images/logo.png"> -->
            </a>

			<a href="#" class="simple-text logo-normal">
				<img src="../images/logo.png">
			</a>
        </div>

    	<div class="sidebar-wrapper">
            <div class="user">
				<div class="info">
					<div class="photo">
	                    <img src="../assets/img/faces/face-0.jpg">
	                </div>

					<a data-toggle="collapse" href="#collapseExample" class="collapsed">
						<span>
							{{ usuario.nome }}
	                        <b class="caret"></b>
						</span>
                    </a>					
				</div>
            </div>

			<ul class="nav">
                <li class="active">
                    <a href="../upload/layout-planilha-importacao-de-base.xlsx">
                        <i class="pe-7s-cloud-download"></i>
                        <p>Planilha Padrão</p>
                    </a>
                </li>
                <fieldset>
                    <div class="form-group">
                        <!-- <legend class="btn-filtros btn " data-toggle="collapse" data-target="#filtros-sisp" aria-expanded="true" aria-controls="filtros-sisp">
                            Filtros Aplicados
                        </Legend> -->

                        <div class="col-sm-10">
                            
                            <div class="checkbox">
                                <input type="checkbox" id="cod_barras" value="Cod. Barras" checked disabled="disabled"> 
                                <label for="cod_barras">
                                    Cod. Barras
                                </label>
                            </div>

                            <div class="checkbox">
                                <input type="checkbox" id="cod_interno" value="Cod. Interno" checked disabled="disabled"> 
                                <label for="cod_interno">
                                    Cod. Interno
                                </label>
                            </div>

                            <div id="filtrosOpcionais" v-for="filtro in filtros">
                                <div class="checkbox" v-if="filtro.obrigatorio == false" >
                                    <input type="checkbox" v-bind:id="filtro.nome_id" v-bind:value="filtro.nome" v-model="filtros_selecionados" > 
                                    <label v-bind:for="filtro.nome_id">
                                        {{filtro.nome}}
                                    </label>
                                </div>
                            </div>

                            <div class="checkbox">
                                <input type="checkbox" id="desc_item" value="Desc. Item" checked disabled="disabled"> 
                                <label for="desc_item">
                                    Desc. Item
                                </label>
                            </div>

                        </div>

                    </div>
                </fieldset>
        
			</ul>
    	</div>
    </div>

    <div class="main-panel">
		<nav class="navbar navbar-default" >
			<div class="container-fluid">
				<div class="navbar-minimize">
					<button id="minimizeSidebar" class="btn btn-warning btn-fill btn-round btn-icon">
						<i class="fa fa-ellipsis-v visible-on-sidebar-regular"></i>
						<i class="fa fa-navicon visible-on-sidebar-mini"></i>
					</button>
                </div>

                <div class="toolbar-actions" style="position: absolute; right: 0;" >
                        <div class="btn-group pull-right">
                            <button id="min-janela" class="btn btn-default">
                            <span class="fa fa-minus"></span>
                            </button>
                            <button id="max-janela" class="btn btn-default">
                            <span class="fa fa-plus"></span>
                            </button>
                            <button id="fecha-janela" class="btn btn-default">
                            <span class="fa fa-close"></span>
                            </button>
                        </div>
                    </div>
                
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<button class="btn btn-default" v-on:click="abrirJanelaAddArquivo()">
                        <span class="fa fa-folder icon-text"></span>
                        Add Arquivo
                    </button>
                    <button class="btn btn-default" v-on:click="verificaDados()">
                        <span class="fa fa-clipboard icon-text"></span>
                        Verificar
                    </button>
                    <button class="btn btn-default" v-on:click="persistirDados()">
                        <span class="fa fa-cloud-upload"></span>
                        Importar
                    </button>
                    <button class="btn btn-default" v-on:click="exportarErros()">
                    <!-- <button class="btn btn-default" v-on:click="exportarTabelaformatada()"> -->
                        <span class="fa fa-download"></span>
                        Exportar Erros
                    </button>
                    <button class="btn btn-default" v-on:click="limparTabelas()">
                        <span class="fa fa-trash icon-text"></span>
                        Limpar Tabelas
                    </button>
                    <button class="btn btn-default" v-on:click="sincronizaBaseServidorComBaseLocal()" alt="atualizar base local" title="atualizar base local">
                        <span class="fa fa-refresh icon-text"></span>
                    </button>
                    <button class="btn btn-default" v-on:click="sincronizarBaseLocalNoServidor()" alt="atualizar servidor base" title="atualizar base local">
                        <span class="fa fa-refresh icon-text"></span>
                    </button>
                    
				</div>
				<div class="collapse navbar-collapse">
                </div>
                <div class="navbar-minimize">
                </div>
            </div>
            
		</nav>

        <div class="main-content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">Registros Extraídos do arquivo</h4>
                                <p class="category">Mostra todos os aquivos e erros encontrados na verificação</p>
                            </div>
                            <div class="content">
                                <div class="row">
<!-- ############################################# BLOCO DE ADAPTAÇÃO INICIO ############################################# -->
                                    <div>
                                        <div id="tabelas" class="">
                                            <ul class="nav nav-tabs" id="form-tabs" role="tablist">
                                                <li class="nav-item active" id='aba-sisp'>
                                                    <a class="nav-link active" id="formulario-sisp" data-toggle="tab" href="#sisp" role="tab" aria-controls="sisp" aria-selected="true">Registros</a>
                                                </li>
                                                <li class="nav-item" id='aba-sace'>
                                                    <a class="nav-link" id="formulario-sace" data-toggle="tab" href="#sace" role="tab" aria-controls="sace" aria-selected="false">Erros</a>
                                                </li>
                                                <li class="nav-item" id='aba-iml'>
                                                    <a class="nav-link" id="formulario-laudos-iml" data-toggle="tab" href="#laudos" role="tab" aria-controls="laudos" aria-selected="false">...</a>
                                                </li>
                                            </ul>
                    
                                            <div class="tab-content" id="TabContent">
                                                    <div class="tab-pane active in" id="sisp" role="tabpanel" aria-labelledby="formulario-sisp">
                                                    <div class="for-group">
                                                        <div class="col-md-12">
                                                            <div class="tabelaRegistros content table-responsive table-full-width">
                                                                <table class="table table-hover table-striped">
                                                                    <thead>
                                                                        <tr>
                                                                            <th id="col_cod_barras_registros">codbarras</th>
                                                                            <th id="col_cod_interno_registros">codinterno</th>
                                                                            <th class="" id="col_departamento_registros">departamento</th>
                                                                            <th class="" id="col_setor_secao_registros">setor/secao</th>
                                                                            <th class="" id="col_desc_setor_secao_registros">descricao setor/secao</th>
                                                                            <th class="" id="col_grupo_registros">grupo</th>
                                                                            <th class="" id="col_familia_registros">familia</th>
                                                                            <th class="" id="col_subfamilia_registros">subfamilia</th>
                                                                            <th class="" id="col_referencia_registros">referencia</th>
                                                                            <th class="" id="col_saldo_qtd_estoque_registros">saldo/qtdestoque</th>
                                                                            <th class="" id="col_valor_custo_registros">valorcusto</th>
                                                                            <th class="" id="col_valor_venda_registros">valorvenda</th>
                                                                            <th id="col_desc_item_registros">descricaoitem</th>
                                                                        </tr>
                                                                    </thead>

                                                                    <tbody>
                                                                        <tr v-for="registro in registros" >
                                                                            <td class="col_cod_barras_registros">{{registro.cod_barras}}</td>
                                                                            <td>{{registro.cod_interno}}</td>
                                                                            <td class=" col_departamento_registros ">{{registro.departamento}}</td>
                                                                            <td class=" col_setor_secao_registros ">{{registro.setor_secao}}</td>
                                                                            <td class=" col_descricao_setor_secao_registros ">{{registro.descricao_setor_secao}}</td>
                                                                            <td class=" col_grupo_registros ">{{registro.grupo}}</td>
                                                                            <td class=" col_familia_registros ">{{registro.familia}}</td>
                                                                            <td class=" col_subfamilia_registros ">{{registro.subfamilia}}</td>
                                                                            <td class=" col_referencia_registros ">{{registro.referencia}}</td>
                                                                            <td class=" col_saldo_qtd_estoque_registros ">{{registro.saldo_qtd_estoque}}</td>
                                                                            <td class=" col_valor_custo_registros ">{{registro.valor_custo}}</td>
                                                                            <td class=" col_valor_venda_registros ">{{registro.valor_venda}}</td>
                                                                            <td>{{registro.descricao_item}}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                    
                                                <div class="tab-pane fade" id="sace" role="tabpanel" aria-labelledby="formulario-sace">
                                                    <div class="for-group" >
                                                        <fieldset>
                                                                <div class="col-md-12">
                                                                        <div style="margin: 0 auto"> <h3>Registros com erros </h3> </div>
                                                                        <div class=" containerTabelas-tabErro row-erros">
                                                                            <!-- ################### COD.BARRAS DUPLICADOS INICIO ###############3-->
                                                                            <div class="col-md-4">
                                                                                <div class="card border-success mb-3" >
                                                                                    <div class="card-header"><h5 class="card-title">Cod. Barras Duplicados</h5></div>
                                                                                    <div class="card-body text-primary" v-for="(codBarras, index) in erros_duplicidadeCodBarras">
                                                                                        
                                                                                        <div class="card-body">
                                                                                            <div class="card text-white bg-success mb-3" >
                                                                                                <div class="card-header">Linha: {{codBarras.linha}}
                                                                                                    <button id="fecha-janela" class="btn btn-default pull-right" v-on:click="removerAnotacaoErro('duplicidadeCodBarras',  index)">
                                                                                                        <span class="fa fa-close"></span>
                                                                                                    </button>
                                                                                                </div>
                                                                                                <div class="card-body">
                                                                                                    <p class="card-text">
                                                                                                        <u class="text-muted">Cod. Barras: </u> {{codBarras.cod_barras}} <br>
                                                                                                        <u class="text-muted">Cod. Interno:</u> {{codBarras.cod_interno}} <br>
                                                                                                        <u class="text-muted">Desc. Item:  </u> {{codBarras.descricao_item}} <br>   
                                                                                                    </p>                                                                    
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <!-- ################### COD.BARRAS DUPLICADOS FIM ###############3-->

                                                                            <!-- ################### COD.INTERNOS INVALIDOS INICIO ###############3-->
                                                                            <div class="col-md-4">
                                                                                <div class="card border-primary mb-3" >
                                                                                    <div class="card-header"><h5 class="card-title">Codigo Interno Inválido</h5></div>
                                
                                                                                    <div class="card-body text-primary" v-for="(codInterno, index) in erros_codigoInternoInvalido">
                                                                                        
                                                                                        <div class="card-body">
                                                                                            <div class="card text-white bg-primary mb-3" >
                                                                                                <div class="card-header">Linha: {{codInterno.linha}}
                                                                                                    <button id="fecha-janela" class="btn btn-default pull-right" v-on:click="removerAnotacaoErro('codigoInternoInvalido',index)">
                                                                                                        <span class="icon icon-cancel"></span>
                                                                                                    </button>
                                                                                                </div>
                                                                                                <div class="card-body">
                                                                                                        <p class="card-text">
                                                                                                            <u class="text-muted">Cod. Barras: </u>{{codInterno.cod_barras}} <br>
                                                                                                            <u class="text-muted">Cod. Interno: </u>{{codInterno.cod_interno}} <br>
                                                                                                            <u class="text-muted">Desc. Item: </u>{{codInterno.descricao_item}} <br>   
                                                                                                        </p>    
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                
                                                                                    </div>
                                
                                                                                </div>
                                                                            </div>
                                                                            <!-- ################### COD.INTERNOS INVALIDOS FIM ###############3-->

                                                                            <!-- ################### CAMPOS VAZIOS INICIO ###############3-->
                                                                            <div class="col-md-4">
                                                                                <div class="card border-warning  mb-3" >
                                                                                    <div class="card-header"><h5 class="card-title">Campos vazios</h5></div>
                                                                                    <div class="card-body text-primary" v-for=" (registroComCampoVazio, index) in erros_valoresVaziosNovo">
                                                                                        
                                                                                        <div class="card-body">
                                                                                            <div class="card text-white bg-warning  mb-3" >
                                                                                                <div class="card-header">Linha: {{registroComCampoVazio.linha}}
                                                                                                    <button id="fecha-janela" class="btn btn-default pull-right" v-on:click="removerAnotacaoErro('valoresVazios',index)">
                                                                                                        <span class="fa fa-close"></span>
                                                                                                    </button>
                                                                                                </div>
                                                                                                <div class="card-body">
                                                                                                        <p class="card-text">
                                                                                                            <u class="text-muted">Cod. Barras: </u> {{registroComCampoVazio.cod_barras}} <br>
                                                                                                            <u class="text-muted">Cod. Interno:</u>  {{registroComCampoVazio.cod_interno}} <br>
                                                                                                            <u class="text-muted">Desc. Item:  </u>{{registroComCampoVazio.descricao_item}} <br>   
                                                                                                        </p>    
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <!-- ################### CAMPOS VAZIOS FIM ###############3-->

                                                                            <!-- ################### COD.BARRAS COM ZERO A ESQUERDA INICIO ###############3-->
                                                                            <div class="col-md-4">
                                                                                <div class="card border-danger mb-3" >
                                                                                    <div class="card-header"><h5 class="card-title">Cod. Barras com zero à esquerda</h5></div>
                                                                                    <div class="card-body text-primary" v-for=" (codBarrasComZeroEsquerda, index) in erros_zerosEsquerda">
                                                                                        
                                                                                        <div class="card-body">
                                                                                            <div class="card text-white bg-danger mb-3" >
                                                                                                <div class="card-header">Linha: {{codBarrasComZeroEsquerda.linha}}
                                                                                                    <button id="fecha-janela" class="btn btn-default pull-right" v-on:click="removerAnotacaoErro('zerosEsquerda',index)">
                                                                                                        <span class="icon icon-cancel"></span>
                                                                                                    </button>
                                                                                                </div>
                                                                                                <div class="card-body">
                                                                                                        <p class="card-text">
                                                                                                            <u class="text-muted">Cod. Barras: </u>{{codBarrasComZeroEsquerda.cod_barras}} <br>
                                                                                                            <u class="text-muted">Cod. Interno: </u>{{codBarrasComZeroEsquerda.cod_interno}} <br>
                                                                                                            <u class="text-muted">Desc. Item: </u>{{codBarrasComZeroEsquerda.descricao_item}} <br>   
                                                                                                        </p>    
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <!-- ################### COD.BARRAS COM ZERO A ESQUERDA FIM ###############3-->
                                                                        </div>
                                                                    </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="laudos" role="tabpanel" aria-labelledby="formulario-laudos-iml">
                                                    ...
                                                </div>
                                                </div>
                                        </div>
                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!-- ############################################# BLOCO DE ADAPTAÇÃO FIM ############################################# -->
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="#">Rapp-Enterprise</a>
                </p>
            </div>
        </footer>

    </div>
</div>


</body>
    <!--   Core JS Files  -->
    <script> window.$ = window.jQuery = require('../assets/js/jquery.min.js'); </script> 
    <script src="../js/vue.js"></script> 
    <script src="../js/funcoes.js"></script>
    <script src="../js/pouchdb.min.js"></script>    
    <script src="../js/pouchdb.find.js"></script>    
    <script src="../assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../assets/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="../js/newarquivo.js"></script>


	<!--  Forms Validations Plugin -->
	<script src="../assets/js/jquery.validate.min.js"></script>

	<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
	<script src="../assets/js/moment.min.js"></script>

    <!--  Date Time Picker Plugin is included in this js file -->
    <script src="../assets/js/bootstrap-datetimepicker.min.js"></script>

    <!--  Select Picker Plugin -->
    <script src="../assets/js/bootstrap-selectpicker.js"></script>

	<!--  Checkbox, Radio, Switch and Tags Input Plugins -->
		<script src="../assets/js/bootstrap-switch-tags.min.js"></script>

	<!--  Charts Plugin -->
	<script src="../assets/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="../assets/js/bootstrap-notify.js"></script>

    <!-- Sweet Alert 2 plugin -->
    <script src="../assets/js/sweetalert2.js"></script>

    <!-- Vector Map plugin -->
	<script src="../assets/js/jquery-jvectormap.js"></script>

    <!--  Google Maps Plugin    -->
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->

	<!-- Wizard Plugin    -->
    <script src="../assets/js/jquery.bootstrap.wizard.min.js"></script>

    <!--  Bootstrap Table Plugin    -->
    <script src="../assets/js/bootstrap-table.js"></script>

	<!--  Plugin for DataTables.net  -->
    <script src="../assets/js/jquery.datatables.js"></script>


    <!--  Full Calendar Plugin    -->
    <script src="../assets/js/fullcalendar.min.js"></script>

    <!-- Light Bootstrap Dashboard Core javascript and methods -->
	<script src="../assets/js/light-bootstrap-dashboard.js?v=1.4.1"></script>

	<!-- Light Bootstrap Dashboard DEMO methods, don't include it in your project! -->
	<script src="../assets/js/demo.js"></script>

	<script type="text/javascript">
        $(document).ready(function(){

        	// demo.initDashboardPageCharts();
        	// demo.initVectorMap();

        	// $.notify({
            // 	icon: 'pe-7s-bell',
            // 	message: "<b>Light Bootstrap Dashboard PRO</b> - forget about boring dashboards."

            // },{
            //     type: 'warning',
            //     timer: 4000
            // });

    	});
	</script>

</html>
