<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <script> window.$ = window.JQuery = require('jquery'); </script>
        <!-- CSS -->
        <link rel="stylesheet" href="../css/bootstrap-grid.min.css">
        <link rel="stylesheet" type="text/css" href="../css/datatables.min.css"/>
        <link rel="stylesheet" href="../photon-0.1.2-dist/css/photon.min.css">
        <link rel="stylesheet" href="../css/css-newarquivo.css">
        <link rel="stylesheet" href="../css/bootstrap.min.css">

        <!-- Bootstrap core CSS     -->
        <!-- <link href="../assets/css/bootstrap.min.css" rel="stylesheet" /> -->

        <!--  Light Bootstrap Dashboard core CSS    -->
        <link href="../assets/css/light-bootstrap-dashboard.css?v=1.4.1" rel="stylesheet"/>

        <!--  CSS for Demo Purpose, don't include it in your project     -->
        <!-- <link href="../assets/css/demo.css" rel="stylesheet" /> -->

        <!-- <link rel="stylesheet" href="../css/css-newarquivo.css"> -->
        <!-- <link rel="stylesheet" href="../css/css-novo/cards.css"> -->

        <!--     Fonts and icons     -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
        <link href="../assets/css/pe-icon-7-stroke.css" rel="stylesheet" />

         <!-- JS  -->
        
        <script src="../js/sweetalert2.all.min.js"></script> 
        <script src="../js/vue.js"></script>
        <script src="../js/funcoes.js"></script>

        <title>UpLoad de arquivos</title>
</head>

<body>
<div  id="janelaUploadArquivo" class="janelaAddArquivo">

        <header class="toolbar toolbar-header">
            <h1 style="-webkit-app-region: drag" class="title"> Selecão de Arquivo </h1>
            <div class="toolbar-actions">

            </div>
            
        </header>
    
        <form enctype="multipart/form-data">
            <fieldset style="margin: 25px 15px 0px;">

                <div class="form-group">
                    <p>Loja: </p>
                    <select class="form-control" v-model="lojaSelecionada" v-on:change="selecionaLoja">
                        <option v-for="loja in lojas" v-bind:value="loja">{{loja.nome}}</option>
                    </select>
                </div>
                
                <div class="form-group">
                        <p>Inventario: </p>
                        <select class="form-control" v-model="inventarioSelecionado">
                            <option v-for="inventario in inventarios" v-bind:value="inventario">{{inventario.nome}}</option>
                        </select> 
                </div>

                <p>Arquivo:<input id="arquivo" type="file" name="arquivo" /></p>
                <!-- <p><input id="btn_enviarArquivo" type="submit" value="Salvar"  /></p>
                <p><input id="btn_cancelar" type="button" value="Cancelar" v-on:click="fecharJanelaUpload()"  /></p> -->
            
            </fieldset>
            <footer class="toolbar toolbar-footer">
                <div class="toolbar-actions">
                    <button class="btn btn-default" v-on:click="fecharJanelaUpload()">
                        Cancelar
                    </button>
                
                    <button class="btn btn-primary pull-right" type="submit">
                        Salvar
                    </button>
                </div>
            </footer>
        </form>
    
</div>
</body>

<script src="../js/formarquivo.js"></script>

</html>