<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <!-- CSS -->
        <link rel="stylesheet" href="../css/bootstrap-grid.min.css">
        <link rel="stylesheet" type="text/css" href="../css/datatables.min.css"/>
        <link rel="stylesheet" href="../photon-0.1.2-dist/css/photon.min.css">   
        <link rel="stylesheet" href="../css/css-newarquivo.css">
         <!-- JS  -->
        <script> window.$ = window.JQuery = require('jquery'); </script> 
        <script src="../js/sweetalert2.all.min.js"></script> 
        <script src="../js/vue.js"></script> 
        <script src="../js/funcoes.js"></script>
        <script src="../js/pouchdb.min.js"></script>

        <title>Tela Importação</title>
</head>
<body>

    
    <div id="novoArquivo" class="window">
        <header class="toolbar toolbar-header">
            <h2 style="-webkit-app-region: drag" class="title">Importação</h2>
            <div class="toolbar-actions">
                <div class="btn-group pull-right">
                    <button id="min-janela" class="btn btn-default">
                    <span class="icon icon-minus"></span>
                    </button>
                    <button id="max-janela" class="btn btn-default">
                    <span class="icon icon-plus"></span>
                    </button>
                    <button id="fecha-janela" class="btn btn-default">
                    <span class="icon icon-cancel"></span>
                    </button>
                </div>
            </div>
            <button class="btn btn-default" v-on:click="abrirJanelaAddArquivo()">
                <span class="icon icon-folder icon-text"></span>
                Add Arquivo
            </button>
            <button class="btn btn-default" v-on:click="verificaDados()">
                <span class="icon icon-clipboard icon-text"></span>
                Verificar
            </button>
            <button class="btn btn-default" v-on:click="persistirDados()">
                <span class="icon icon-upload-cloud icon-text"></span>
                Importar
            </button>
            <button class="btn btn-default" v-on:click="limparTabelas()">
                <span class="icon icon-cup icon-text"></span>
                Limpar Tabelas
            </button>
        </header>

        <div class="window-content">
            <div class="pane-group">
                <div class="pane pane-sm sidebar">
                        <nav class="nav-group">
                                <div id="accordion" style="margin: 0 auto 25px auto;">
                                    <div class="card">
                                        <div class="card-header" id="acordeon-sisp">
                                        <h5 class="mb-0">
                                            <button class="btn-filtros btn btn-link" data-toggle="collapse" data-target="#filtros-sisp" aria-expanded="true" aria-controls="filtros-sisp">
                                            Filtros Aplicados
                                            </button>
                                        </h5>
                                        </div>
                                
                                        <div style="margin: 10px 10px" >
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" id="cod_barras" value="Cod. Barras" checked disabled="disabled"> Cod. Barras
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" id="cod_interno" value="Cod. Interno" checked disabled="disabled"> Cod. Interno
                                                </label>
                                            </div>
                                            <div id="filtrosOpcionais" v-for="filtro in filtros">
                                                <div class="checkbox" v-if="filtro.obrigatorio == false" >
                                                    <label>
                                                        <input type="checkbox" v-bind:id="filtro.nome_id" v-bind:value="filtro.nome" v-model="filtros_selecionados" onclick="marcarFiltro(this)"> {{filtro.nome}}
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" id="desc_item" value="Desc. Item" checked disabled="disabled"> Desc. Item
                                                    </label>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                        </nav>
                </div>

                <div>
                    <div id="tabelas" class=" row">
                        <div class="col-md-6">
                            <div style="margin: 0 auto"> <h3>Registros do arquivo</h3> </div>
                            <div class=" containerTabelas  tabela ">
                                
                                <table id="tabelaRegistros" class=" table-striped " >
                                    <thead>
                                        <tr>
                                        <th id="col_cod_barras_registros">codbarras</th>
                                        <th id="col_cod_interno_registros">codinterno</th>
                                        <th class="esconde" id="col_departamento_registros">departamento</th>
                                        <th class="esconde" id="col_setor_secao_registros">setor/secao</th>
                                        <th class="esconde" id="col_desc_setor_secao_registros">descricao setor/secao</th>
                                        <th class="esconde" id="col_grupo_registros">grupo</th>
                                        <th class="esconde" id="col_familia_registros">familia</th>
                                        <th class="esconde" id="col_subfamilia_registros">subfamilia</th>
                                        <th class="esconde" id="col_referencia_registros">referencia</th>
                                        <th class="esconde" id="col_saldo_qtd_estoque_registros">saldo/qtdestoque</th>
                                        <th class="esconde" id="col_valor_custo_registros">valorcusto</th>
                                        <th class="esconde" id="col_valor_venda_registros">valorvenda</th>
                                        <th id="col_desc_item_registros">descricaoitem</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="registro in registros" >
                                            <td class="col_cod_barras_registros">{{registro.cod_barras}}</td>
                                            <td>{{registro.cod_interno}}</td>
                                            <td class=" esconde col_departamento_registros ">{{registro.departamento}}</td>
                                            <td class=" esconde col_setor_secao_registros ">{{registro.setor_secao}}</td>
                                            <td class=" esconde col_descricao_setor_secao_registros ">{{registro.descricao_setor_secao}}</td>
                                            <td class=" esconde col_grupo_registros ">{{registro.grupo}}</td>
                                            <td class=" esconde col_familia_registros ">{{registro.familia}}</td>
                                            <td class=" esconde col_subfamilia_registros ">{{registro.subfamilia}}</td>
                                            <td class=" esconde col_referencia_registros ">{{registro.referencia}}</td>
                                            <td class=" esconde col_saldo_qtd_estoque_registros ">{{registro.saldo_qtd_estoque}}</td>
                                            <td class=" esconde col_valor_custo_registros ">{{registro.valor_custo}}</td>
                                            <td class=" esconde col_valor_venda_registros ">{{registro.valor_venda}}</td>
                                            <td>{{registro.descricao_item}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div style="margin: 0 auto"> <h3>Linhas Com Erros</h3> </div>
                            <div class="tabela containerTabelas ">    
                                <table id="tabelaInconsistencias" class=" table-striped" >
                                    <thead>
                                        <tr>
                                            <th id="col_linha_erros">Linha</th>
                                            <th id="col_cod_barras_erros">codbarras</th>
                                            <th id="col_cod_interno_erros">codinterno</th>
                                            <th class="esconde" id="col_departamento_erros">departamento</th>
                                            <th class="esconde" id="col_setor_secao_erros">setor/secao</th>
                                            <th class="esconde" id="col_desc_setor_secao_erros">descricao setor/secao</th>
                                            <th class="esconde" id="col_grupo_erros">grupo</th>
                                            <th class="esconde" id="col_familia_erros">familia</th>
                                            <th class="esconde" id="col_subfamilia_erros">subfamilia</th>
                                            <th class="esconde" id="col_referencia_erros">referencia</th>
                                            <th class="esconde" id="col_saldo_qtd_estoque_erros">saldo/qtdestoque</th>
                                            <th class="esconde" id="col_valor_custo_erros">valorcusto</th>
                                            <th class="esconde" id="col_valor_venda_erros">valorvenda</th>
                                            <th id="col_desc_item_erros">descricaoitem</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="erro in erros">
                                            <td>{{erro.linha}}</td>
                                            <td>{{erro.cod_barras}}</td>
                                            <td>{{erro.cod_interno}}</td>
                                            <td class=" esconde col_departamento_erros ">{{erro.departamento}}</td>
                                            <td class=" esconde col_setor_secao_erros ">{{erro.setor_secao}}</td>
                                            <td class=" esconde col_descricao_setor_secao_erros ">{{erro.descricao_setor_secao}}</td>
                                            <td class=" esconde col_grupo_erros ">{{erro.grupo}}</td>
                                            <td class=" esconde col_familia_erros ">{{erro.familia}}</td>
                                            <td class=" esconde col_subfamilia_erros ">{{erro.subfamilia}}</td>
                                            <td class=" esconde col_referencia_erros ">{{erro.referencia}}</td>
                                            <td class=" esconde col_saldo_qtd_estoque_erros ">{{erro.saldo_qtd_estoque}}</td>
                                            <td class=" esconde col_valor_custo_erros ">{{erro.valor_custo}}</td>
                                            <td class=" esconde col_valor_venda_erros ">{{erro.valor_venda}}</td>
                                            <td>{{erro.descricao_item}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
    <script>
    // $(document).ready(function(){
    //     $('#tabelaRegistros').DataTable({
    //         "language": {
    //               "lengthMenu": "Mostrando _MENU_ registros por página",
    //               "zeroRecords": "Nada encontrado",
    //               "info": "Mostrando página _PAGE_ de _PAGES_",
    //               "infoEmpty": "Nenhum registro disponível",
    //               "infoFiltered": "(filtrado de _MAX_ registros no total)"
    //           }
    //       });
    // });
    </script>

</body>
<script src="../js/newarquivo.js"></script>
</html>
