<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <script> window.$ = window.JQuery = require('jquery'); </script> 
        <!-- CSS -->
        <!-- <link rel="stylesheet" href="../css/bootstrap-grid.min.css"> -->
        <link rel="stylesheet" type="text/css" href="../css/datatables.min.css"/>
        <link rel="stylesheet" href="../photon-0.1.2-dist/css/photon.min.css">   
        <link rel="stylesheet" href="../css/css-newarquivo.css">
        <!-- <link rel="stylesheet" href="../css/css-novo/bootstrap/css/bootstrap.css"> -->
        <link rel="stylesheet" href="../css/bootstrap.min.css">
         <!-- JS  -->
        
        <!-- <script src="../node_modules/bootstrap/js/src/util.js"> </script> -->
        <script src="../js/sweetalert2.all.min.js"></script> 
        <script src="../js/vue.js"></script> 
        <script src="../js/funcoes.js"></script>
        <script src="../js/pouchdb.min.js"></script>    
        <script src="../js/pouchdb.find.js"></script>    

        <title>Tela Importação</title>
</head>
<body>

    
    <div id="novoArquivo" class="window">
        <header class="toolbar toolbar-header">
            <h2 style="-webkit-app-region: drag" class="title">Importação</h2>
            <div class="toolbar-actions">
                <div class="btn-group pull-right">
                    <button id="min-janela" class="btn btn-default">
                    <span class="icon icon-minus"></span>
                    </button>
                    <button id="max-janela" class="btn btn-default">
                    <span class="icon icon-plus"></span>
                    </button>
                    <button id="fecha-janela" class="btn btn-default">
                    <span class="icon icon-cancel"></span>
                    </button>
                </div>
            </div>
            <button class="btn btn-default" v-on:click="abrirJanelaAddArquivo()">
                <span class="icon icon-folder icon-text"></span>
                Add Arquivo
            </button>
            <button class="btn btn-default" v-on:click="verificaDados()">
                <span class="icon icon-clipboard icon-text"></span>
                Verificar
            </button>
            <button class="btn btn-default" v-on:click="persistirDados()">
                <span class="icon icon-upload-cloud icon-text"></span>
                Importar
            </button>
            <button class="btn btn-default" v-on:click="exportarErros()">
            <!-- <button class="btn btn-default" v-on:click="exportarTabelaformatada()"> -->
                <span class="icon icon-cup icon-text"></span>
                Exportar Erros
            </button>
            <button class="btn btn-default" v-on:click="limparTabelas()">
                <span class="icon icon-cup icon-text"></span>
                Limpar Tabelas
            </button>
        </header>

        <div class="window-content">
            <div class="pane-group">
                <div class="pane pane-sm sidebar">
                        <nav class="nav-group">
                                <div id="accordion" style="margin: 0 auto 25px auto;">
                                    <div class="card">
                                        <div class="card-header" id="acordeon-sisp">
                                        <h5 class="mb-0">
                                            <button class="btn-filtros btn btn-link" data-toggle="collapse" data-target="#filtros-sisp" aria-expanded="true" aria-controls="filtros-sisp">
                                            Filtros Aplicados
                                            </button>
                                        </h5>
                                        </div>
                                
                                        <div style="margin: 10px 10px" >
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" id="cod_barras" value="Cod. Barras" checked disabled="disabled"> Cod. Barras
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" id="cod_interno" value="Cod. Interno" checked disabled="disabled"> Cod. Interno
                                                </label>
                                            </div>
                                            <div id="filtrosOpcionais" v-for="filtro in filtros">
                                                <div class="checkbox" v-if="filtro.obrigatorio == false" >
                                                    <label>
                                                        <input type="checkbox" v-bind:id="filtro.nome_id" v-bind:value="filtro.nome" v-model="filtros_selecionados" > {{filtro.nome}}
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" id="desc_item" value="Desc. Item" checked disabled="disabled"> Desc. Item
                                                    </label>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                        </nav>
                </div>

                <div>
                    <div id="tabelas" class="">
                        <ul class="nav nav-tabs" id="form-tabs" role="tablist">
                            <li class="nav-item active" id='aba-sisp'>
                                <a class="nav-link active" id="formulario-sisp" data-toggle="tab" href="#sisp" role="tab" aria-controls="sisp" aria-selected="true">Registros</a>
                            </li>
                            <li class="nav-item" id='aba-sace'>
                                <a class="nav-link" id="formulario-sace" data-toggle="tab" href="#sace" role="tab" aria-controls="sace" aria-selected="false">...</a>
                            </li>
                            <li class="nav-item" id='aba-iml'>
                                <a class="nav-link" id="formulario-laudos-iml" data-toggle="tab" href="#laudos" role="tab" aria-controls="laudos" aria-selected="false">...</a>
                            </li>
                        </ul>

                        <div class="tab-content" id="TabContent">
                                <!-- <div class="tab-pane fade active in" id="sisp" role="tabpanel" aria-labelledby="formulario-sisp"> -->
                                <div class="tab-pane active in" id="sisp" role="tabpanel" aria-labelledby="formulario-sisp">
                                <div class="for-group">
                                <fieldset> 
                                    <div class="col-md-12">
                                        <div style="margin: 0 auto"> <h3>Registros do arquivo</h3> </div>
                                        <div class=" containerTabelas  tabela ">
                                            
                                            <table id="tabelaRegistros" class=" table-striped " >
                                                <thead>
                                                    <tr>
                                                    <th id="col_cod_barras_registros">codbarras</th>
                                                    <th id="col_cod_interno_registros">codinterno</th>
                                                    <th class="" id="col_departamento_registros">departamento</th>
                                                    <th class="" id="col_setor_secao_registros">setor/secao</th>
                                                    <th class="" id="col_desc_setor_secao_registros">descricao setor/secao</th>
                                                    <th class="" id="col_grupo_registros">grupo</th>
                                                    <th class="" id="col_familia_registros">familia</th>
                                                    <th class="" id="col_subfamilia_registros">subfamilia</th>
                                                    <th class="" id="col_referencia_registros">referencia</th>
                                                    <th class="" id="col_saldo_qtd_estoque_registros">saldo/qtdestoque</th>
                                                    <th class="" id="col_valor_custo_registros">valorcusto</th>
                                                    <th class="" id="col_valor_venda_registros">valorvenda</th>
                                                    <th id="col_desc_item_registros">descricaoitem</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="registro in registros" >
                                                        <td class="col_cod_barras_registros">{{registro.cod_barras}}</td>
                                                        <td>{{registro.cod_interno}}</td>
                                                        <td class=" col_departamento_registros ">{{registro.departamento}}</td>
                                                        <td class=" col_setor_secao_registros ">{{registro.setor_secao}}</td>
                                                        <td class=" col_descricao_setor_secao_registros ">{{registro.descricao_setor_secao}}</td>
                                                        <td class=" col_grupo_registros ">{{registro.grupo}}</td>
                                                        <td class=" col_familia_registros ">{{registro.familia}}</td>
                                                        <td class=" col_subfamilia_registros ">{{registro.subfamilia}}</td>
                                                        <td class=" col_referencia_registros ">{{registro.referencia}}</td>
                                                        <td class=" col_saldo_qtd_estoque_registros ">{{registro.saldo_qtd_estoque}}</td>
                                                        <td class=" col_valor_custo_registros ">{{registro.valor_custo}}</td>
                                                        <td class=" col_valor_venda_registros ">{{registro.valor_venda}}</td>
                                                        <td>{{registro.descricao_item}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>               

                                    <div class="col-md-12">
                                        <div style="margin: 0 auto"> <h3>Registros com erros </h3> </div>
                                        <div class=" containerTabelas-tabErro row-erros">

                                            <div class="col-md-4">
                                                <div class="card border-success mb-3" style="width: 18rem;">
                                                    <div class="card-header"><h5 class="card-title">Cod. Barras Duplicados</h5></div>
                                                    <div class="card-body text-primary" v-for="(codBarras, index) in erros_duplicidadeCodBarras">
                                                        
                                                        <div class="card-body">
                                                            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                                                                <div class="card-header">Linha: {{codBarras.linha}}
                                                                    <button id="fecha-janela" class="btn btn-default pull-right" v-on:click="removerAnotacaoErro('duplicidadeCodBarras',  index)">
                                                                        <span class="icon icon-cancel"></span>
                                                                    </button>
                                                                </div>
                                                                <div class="card-body">
                                                                    <p class="card-text">
                                                                        Cod. Barras: {{codBarras.cod_barras}} <br>
                                                                        Cod. Interno: {{codBarras.cod_interno}} <br>
                                                                        Desc. Item: {{codBarras.descricao_item}} <br>   
                                                                    </p>                                                                    
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="card border-primary mb-3" style="width: 18rem;">
                                                    <div class="card-header"><h5 class="card-title">Codigo Interno Inválido</h5></div>

                                                    <div class="card-body text-primary" v-for="(codInterno, index) in erros_codigoInternoInvalido">
                                                        
                                                        <div class="card-body">
                                                            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                                                                <div class="card-header">Linha: {{codInterno.linha}}
                                                                    <button id="fecha-janela" class="btn btn-default pull-right" v-on:click="removerAnotacaoErro('codigoInternoInvalido',index)">
                                                                        <span class="icon icon-cancel"></span>
                                                                    </button>
                                                                </div>
                                                                <div class="card-body">
                                                                        <p class="card-text">
                                                                            Cod. Barras: {{codInterno.cod_barras}} <br>
                                                                            Cod. Interno: {{codInterno.cod_interno}} <br>
                                                                            Desc. Item: {{codInterno.descricao_item}} <br>   
                                                                        </p>    
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="card border-warning  mb-3" style="width: 18rem;">
                                                    <div class="card-header"><h5 class="card-title">Campos vazios</h5></div>
                                                    <div class="card-body text-primary" v-for=" (registroComCampoVazio, index) in erros_valoresVaziosNovo">
                                                        
                                                        <div class="card-body">
                                                            <div class="card text-white bg-warning  mb-3" style="max-width: 18rem;">
                                                                <div class="card-header">Linha: {{registroComCampoVazio.linha}}
                                                                    <button id="fecha-janela" class="btn btn-default pull-right" v-on:click="removerAnotacaoErro('valoresVazios',index)">
                                                                        <span class="icon icon-cancel"></span>
                                                                    </button>
                                                                </div>
                                                                <div class="card-body">
                                                                        <p class="card-text">
                                                                            Cod. Barras: {{registroComCampoVazio.cod_barras}} <br>
                                                                            Cod. Interno: {{registroComCampoVazio.cod_interno}} <br>
                                                                            Desc. Item: {{registroComCampoVazio.descricao_item}} <br>   
                                                                        </p>    
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="card border-danger mb-3" style="width: 18rem;">
                                                    <div class="card-header"><h5 class="card-title">Cod. Barras com zero à esquerda</h5></div>
                                                    <div class="card-body text-primary" v-for=" (codBarrasComZeroEsquerda, index) in erros_zerosEsquerda">
                                                        
                                                        <div class="card-body">
                                                            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                                                                <div class="card-header">Linha: {{codBarrasComZeroEsquerda.linha}}
                                                                    <button id="fecha-janela" class="btn btn-default pull-right" v-on:click="removerAnotacaoErro('zerosEsquerda',index)">
                                                                        <span class="icon icon-cancel"></span>
                                                                    </button>
                                                                </div>
                                                                <div class="card-body">
                                                                        <p class="card-text">
                                                                            Cod. Barras: {{codBarrasComZeroEsquerda.cod_barras}} <br>
                                                                            Cod. Interno: {{codBarrasComZeroEsquerda.cod_interno}} <br>
                                                                            Desc. Item: {{codBarrasComZeroEsquerda.descricao_item}} <br>   
                                                                        </p>    
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </fieldset>
                                </div>
                            </div>
                
                            <div class="tab-pane fade" id="sace" role="tabpanel" aria-labelledby="formulario-sace">
                                <div class="for-group" >
                                    <fieldset>
                                        
                                    </fieldset>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="laudos" role="tabpanel" aria-labelledby="formulario-laudos-iml">
                                ...
                            </div>
                            </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
    <script>
    // $(document).ready(function(){
    //     $('#tabelaRegistros').DataTable({
    //         "language": {
    //               "lengthMenu": "Mostrando _MENU_ registros por página",
    //               "zeroRecords": "Nada encontrado",
    //               "info": "Mostrando página _PAGE_ de _PAGES_",
    //               "infoEmpty": "Nenhum registro disponível",
    //               "infoFiltered": "(filtrado de _MAX_ registros no total)"
    //           }
    //       });
    // });
    </script>

</body>
<script src="../js/newarquivo.js"></script>
</html>
