.nav-tabs{
    max-width: 1050px;
}

.janelaAddArquivo footer{
    margin: 13% 0% 0% 0%;
}

.tabela{
    margin: 5% 0% 1% 0%
}
.dataTables_wrapper {
    /* position: absolute;
    clear: both;
    *zoom: 1;
    zoom: 1;
    margin: 0% 0% 0% 0%; */
    /* max-width: 88%; */
}

.esconde{
    display: none;
}

.window-content {
    position: relative;
    overflow-y: auto;
    display: flex;
    flex: 1;
}

.col-md-6{
    @media (min-width: 768px)
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 44% !important;
    }
}


.img-login{
    max-width: 60%;
    margin: 20% 30%;
}

.form-loginArko {
    margin: -3% 10%;
}
.btns-loginArko{
    margin: 10% auto;
}
.btns-loginArko .btn{
    padding: 10px 28px;
}

.containerTabelas, .containerTabelas-tabErro{
    max-width: 1030px;
    min-height: 400px;
    max-height: 400px;
    overflow-x: scroll;
    margin: 0px 0px 31px 0px;
}

.row-erros {
    /* display: -ms-flexbox; */
    display: flex;
    /* -ms-flex-wrap: wrap; */
    /* flex-wrap: wrap; */
    margin-right: -15px;
    margin-left: -15px;
}

.tabelaRegistros{
    overflow-x: scroll;
    overflow-y: scroll;
    min-height: 400px;
    max-height: 400px;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.25rem !important;
}

.navbar-header{
    margin-top: 10px !important;
}

.navbar .navbar-minimize {
    float: left;
    margin: 3px 15px;
    margin-top: 9px !important;
}